mat-divider {
  color: lightslategrey;
}

mat-card {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: white;
  width: 40%;
  position: absolute;
  right: 5%;
  border-radius: 10px;
}

mat-card:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: white;
  border-left: 0;
  margin-top: -20px;
  margin-left: -20px;
}

mat-card mat-divider {
  position: relative;
}

mat-list {
  background-color: #f8f8f8;
}
